<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-alta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .login_s{
        margin-top: -60px;
        margin:7% auto auto auto;
        width: 60em;
        max-width: 90%;
        opacity: 0.9;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding:16px;
        left:50%;
         border-radius: 5px;
         background-color: #fff;
         color: #757575;
         text-align: left;
      }
    </style>

    <div class="login_s">
      <div class="circle"><strong>AC</strong></div>
        <h1>Bienvenido amigo [[data.0.nombre]]</h1>
        <p>BanSalit te da la bienvenida</p>
            <h2>
              <center>
              Alta de cliente
              </center>

            </h2>

            <p><h3>Datos generales</h3>

            </p>
            Nombre: <input id="nombre" name="nombre" type= "text"/>
            Numero de cliente: <input  id="numclien" name="numclien" type="text"><br />
            Contraseña: <input type="password" />
            RFC: <input type="text" /><br />
            Fecha de ingreso: <input type="text" />
            Numero de contrato: <input type="text" /><br />
            Saldo Inicial: <input type="text" />
            <p><h3>
              Telefono
              </h3>
            </p>
            Tipo: <input type= "text"/>
            Lada: <input is="iron-input" bind-value="{{myValue}}">
            telefono: <input is="iron-input" bind-value="{{myValue}}"><br />
            <p><h3>
              Direcciòn
            </h3>
            </p>
            Calle: <input type= "text"/>
            Numero: <input type= "text"/>
            Colonia: <input type= "text"/>
            Delegaciòn: <input type= "text"/>
            Estado: <input type= "text"/>
            <!-- -->
            <p><h3>
              contrato
            </h3>
            </p>
            Numero de contrato: <input type= "text"/>
            Tipo: <input type= "text"/>
            Fecha Apertura: <input type= "text"/>
            Saldo: <input type= "text"/>
            Estado: <input type= "text"/>

        </div>

  </template>
  <script src="js/alta.js"></script>

</dom-module>
