<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .tdcenter {
        text-align: center;
      }
      .tdright {
        text-align: right;
      }
      .tdleft {
        text-align: left;
      }
      .datos{
        margin-top: -60px;
        margin:7% auto auto auto;
        width: 40em;
        max-width: 90%;
        opacity: 0.95;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding:16px;
        left:50%;
         border-radius: 5px;
         background-color: #fff;
         color: #757575;
         text-align: left;
      }
      table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }
    th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
          border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }
      td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
          color: #669;    border-top: 1px solid transparent; }
    }
    </style>

    <div class="datos">
      <div class="circle"><strong>M</strong></div>
      <h1>Mis movimientos</h1>
      <p>Usted cuenta con los siguientes Saldos.</p>
      <div class="row">
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>Cuenta</th>
              <th>Fecha</th>
              <th>Tipo de Cargo</th>
              <th>Detalle</th>
              <th>Monto</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{data.0.Movimientos}}">
                <tr>
                  <td class="tdleft">[[item.contrato]]</td>
                  <td class="tdleft">[[item.fecha]] </td>
                  <td class="tdcenter">[[item.desTipo]]</td>
                  <td class="tdleft">[[item.descripcion]]</td>
                  <td class="tdright">[[item.importe]]</td>
                </tr>
              </template>
            </tbody>
          </table>
    </div>
  </template>
  <script src="js/my-movimientos.js"></script>

</dom-module>
