<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-movi">
  <template>
    <style include="shared-styles">
    .inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


      // codepen formatting
      .form {
        padding: 0 16px;
        max-width: 550px;
        margin: 50px auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
      }

        body {
          background-color: #D1D7DC;
          font-family: 'Fira Sans', sans-serif;
        }

        *,
        *::before,
        *::after {
          box-sizing: inherit;
        }

        html {
          box-sizing: border-box;
        }

        code {
          background-color: #9AA3AC;
          padding: 0 8px;
        }
        .movi{
          margin-top: -60px;
          margin:7% auto auto auto;
          width: 60em;
          max-width: 90%;
          opacity: 0.9;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          padding:16px;
          left:50%;
           border-radius: 5px;
           background-color: #fff;
           color: #757575;
           text-align: left;
        }

      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="movi">
      <div class="circle"><strong>AM</strong> </div>
      <center>
        <h2>Alta de Movimientos</h2>
      </center>
        <h1>Bienvenido amigo [[data.0.nombre]]</h1>
        <p>BanSalit te da la bienvenida</p>
         <div class="row">
        <p>Seleccione cliente:
        <select id="Opciones" name="Opciones" on-change="elijo">
          <option selected="seleccion">Elija cliente</option>
          <template is="dom-repeat" items="{{datamovi}}">
          <option value="[[item.numclient]]">[[item.numclient]]
            </template>
        </select>
        </p>
        <p>Seleccione contrato:
        <select id="Opciones2" name="Opciones2" on-change="okaz">
          <option selected="seleccion">Elija contrato</option>
          <template is="dom-repeat" items="{{datamovi2}}">
          <option value="[[item.contrato]]">[[item.contrato]]
            </template>
        </select>
        </p>
        <p>Tipo:
        <select id="tcargo" name="tcargo" on-change="cambia_cargo">
        <option selected="seleccion">Elija contrato</option>
        <option value="A">ABONO</option>
        <option value="C">CARGO</option>
        </select></p>
        <p>Descripcion: <input type="text" id= "descripcion" value=""
        name="descripcion" placeholder="compro el mundo" maxlength="150"
        auto-validate pattern="[A-Za-z0-9]*" /> </p>
        <p>Monto: <input type="text" id= "importe" value=""
        name="importe" placeholder="$$$$$$" maxlength="15"
        auto-validate pattern="[0-9]+" /></p>
        <p>Fecha: <input type="text" id= "fecha" value=""
        name="fecha" placeholder="AAAA-MM-DD HH:mm:SS" maxlength="19"
         /></p>
        <button type="button" name="bsddsutton" on-click="creaMovimiento">Generar movimiento</button>
        <button  type="button" name="csdfdsancelar" on-click="cancelar">Cancelar</button>;


      </div>
    </div>
  </template>

  <script src="js/adminmovi.js"></script>

</dom-module>
